.winner {
    color: green;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: verdana;
    font-size: 18px;
    text-decoration: none;
}

div {
    display: block;
    margin: 7em auto;
    border: 3px solid darkcyan;
    border-radius: 5px;
    padding: 3em;
    height: 400px;
}
#count, h2 {
    text-align: center;
}

button {
    background-color: darkcyan;
    border: none;
    color: white;
    border-radius: 7px;
    padding: 12px;
    
}
input {
    width: 50%;
    margin: 40px 0 20px 0;

}
